## Pandas tips

Here are some useful methods from the Python pandas package

In [33]:
import pandas as pd

pandas has many methods for reading in data into workable memory. One of my favorites is the `read_csv()` method, which takes a filepath to a csv file. It also accepts a url to a csv file and will download the file over the network into memory!

pandas also contains methods to read in excel, html, json, and many other types of files. See the [I/O](http://pandas.pydata.org/pandas-docs/stable/io.html) documentation for more details.

In [55]:
# This is yellow nyc taxi data for january 2016
url = 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-01.csv'
df = pd.read_csv(url)

We can preview the first n rows with the `head(n)` method. By default, n=5

In [36]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,total-tip,pickup_time,pickup_date
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,...,7.5,0.5,0.5,0.0,0.0,0.3,8.8,8.8,2016-01-01,2016-01-01
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,...,18.0,0.5,0.5,0.0,0.0,0.3,19.3,19.3,2016-01-01,2016-01-01
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,...,33.0,0.5,0.5,0.0,0.0,0.3,34.3,34.3,2016-01-01,2016-01-01
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,...,16.5,0.0,0.5,0.0,0.0,0.3,17.3,17.3,2016-01-01,2016-01-01
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,...,8.0,0.0,0.5,0.0,0.0,0.3,8.8,8.8,2016-01-01,2016-01-01

In [37]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,total-tip,pickup_time,pickup_date
10906853,2,2016-01-31 23:30:32,2016-01-31 23:38:18,1,2.2,-74.003578,40.751011,1,N,-73.982651,...,8.5,0.5,0.5,0.00,0.00,0.3,9.80,9.80,2016-01-31 23:30:32,2016-01-31
10906854,1,2016-01-05 00:15:55,2016-01-05 00:16:06,1,0.0,-73.945488,40.751530,1,N,-73.945457,...,2.5,0.5,0.5,0.00,0.00,0.3,3.80,3.80,2016-01-05 00:15:55,2016-01-05
10906855,1,2016-01-05 06:12:46,2016-03-19 20:45:50,3,1.4,-73.994240,40.766586,1,N,-73.984428,...,7.5,0.5,0.5,0.00,0.00,0.3,8.80,8.80,2016-01-05 06:12:46,2016-01-05
10906856,1,2016-01-05 06:21:44,2016-03-28 12:54:26,1,2.1,-73.948067,40.776531,1,N,-73.978188,...,11.5,0.0,0.5,2.45,0.00,0.3,14.75,12.30,2016-01-05 06:21:44,2016-01-05
10906857,1,2016-01-05 06:15:21,2016-01-05 06:15:36,3,0.0,-73.960938,40.758595,2,N,-73.961006,...,52.0,0.0,0.5,0.00,5.54,0.3,58.34,58.34,2016-01-05 06:15:21,2016-01-05

We can also save the data with the `to_csv` method so we don't have to download it again in the future. 

It's helpful to cut down the amount of time it takes to perform certain steps over and over again so you can be more efficient with your work.

In [38]:
ls

Lecture 2.ipynb  yellow_nyc_taxi_january_2016.csv

In [5]:
df.to_csv('yellow_nyc_taxi_january_2016.csv', index=False)

KeyboardInterrupt:

In [6]:
# View the dimensions of the DataFrame
print('Number rows: ', df.shape[0])
print('Number columns: ', df.shape[1])

Number rows:  10906858
Number columns:  19

In [43]:
# View the column labels
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'total-tip', 'pickup_time',
       'pickup_date'],
      dtype='object')

In [46]:
# View individual columns with dictionary syntax
df['trip_distance'].head()

0     1.10
1     4.90
2    10.54
3     4.75
4     1.76
Name: trip_distance, dtype: float64

In [47]:
# Or use dot notation
df.trip_distance.head()

0     1.10
1     4.90
2    10.54
3     4.75
4     1.76
Name: trip_distance, dtype: float64

One of my favorite things about pandas is how easy it is to derive new columns from others.

For example, let's say we want to create a new column which contains the `total_amount` minus the `tip_amount` field. It's as easy as ...

In [48]:
df['total-tip'] = df['total_amount'] - df['tip_amount']

df[ ['total_amount','tip_amount', 'total-tip'] ].head()

   total_amount  tip_amount  total-tip
0           8.8         0.0        8.8
1          19.3         0.0       19.3
2          34.3         0.0       34.3
3          17.3         0.0       17.3
4           8.8         0.0        8.8

If we want to see the unique values contained within a column, use the `unique()` method on the Series

In [15]:
df['payment_type'].unique()

array([2, 1, 3, 4, 5])

Filtering data is also very easy. If we examine the [data dictionary](http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf) describing the columns, we'll see that credit card transactions are represented by payment_type 1. To filter only these records, we use boolean masks...

In [50]:
# Get the credit card transactions
credit_card_df = df[df['payment_type'] == 1]
credit_card_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,total-tip,pickup_time,pickup_date
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,...,18.0,0.5,0.5,0.00,0.0,0.3,19.30,19.3,2016-01-01 00:00:00,2016-01-01
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,...,33.0,0.5,0.5,0.00,0.0,0.3,34.30,34.3,2016-01-01 00:00:00,2016-01-01
13,1,2016-01-01 00:00:04,2016-01-01 00:14:32,1,3.70,-74.004303,40.742241,1,N,-74.007362,...,14.0,0.5,0.5,3.05,0.0,0.3,18.35,15.3,2016-01-01 00:00:04,2016-01-01
14,1,2016-01-01 00:00:05,2016-01-01 00:14:27,2,2.20,-73.991997,40.718578,1,N,-74.005135,...,11.0,0.5,0.5,1.50,0.0,0.3,13.80,12.3,2016-01-01 00:00:05,2016-01-01
17,1,2016-01-01 00:00:06,2016-01-01 00:04:44,1,1.70,-73.982101,40.774696,1,Y,-73.970940,...,7.0,0.5,0.5,1.65,0.0,0.3,9.95,8.3,2016-01-01 00:00:06,2016-01-01

In [52]:
credit_card_df['payment_type'].unique()

array([1])

In [19]:
print('Number of credit card transactions:', credit_card_df.shape[0])
print('Percentage of total:', 100 * credit_card_df.shape[0] / df.shape[0])

Number of credit card transactions: 7181476
Percentage of total: 65.84367376929268

In [56]:
df['passenger_count'].unique()

array([2, 5, 1, 3, 6, 4, 0, 8, 7, 9])

## 0, 6, 7, 8, 9 passengers? What gives?

The above cell shows us that data can potentially contain errors. This can be due to any number of reasons. What's important is that we do exploratory data analysis to check for outliers and other potential sources of errors. Let's only work on rows that contain betwen 1 and 5 passengers

In [58]:
df[df['passenger_count'] >= 6].shape[0]

369226

In [59]:
df = df[(df['passenger_count'] >= 1) & (df['passenger_count'] <= 5)]
print('Number rows: ', df.shape[0])

Number rows:  10537112

## One last trick...

pandas is very good at working with dates (it was actually developed originally for financial timeseries data. Here, we derive columns for the pickup date separately

In [25]:
# Get datetime columns
df['pickup_time'] = pd.to_datetime(df['tpep_pickup_datetime'])

df['pickup_date'] = df['pickup_time'].apply(lambda x: x.date())

In [28]:
df[['tpep_pickup_datetime', 'pickup_date']].head()

  tpep_pickup_datetime pickup_date
0  2016-01-01 00:00:00  2016-01-01
1  2016-01-01 00:00:00  2016-01-01
2  2016-01-01 00:00:00  2016-01-01
3  2016-01-01 00:00:00  2016-01-01
4  2016-01-01 00:00:00  2016-01-01